* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block{
    color: white;
    text-align: center;
    font-size: 5em;
    padding: 10px;
}

.block__box1{
    background-color: aqua;
}
.block__box2{
    background-color: khaki;
}
.block__box3{
    background-color: coral;
}
.block__box4{
    background-color: navy;
}
.block__box5{
    background-color: yellow;
}
.block__box6{
    background-color: crimson;
}
.block__box7{
    background-color: greenyellow;
}
.block__box8{
    background-color: burlywood;
}
.block__box9{
    background-color: lightskyblue;
}
.block__box10{
    background-color: aquamarine;
}