* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Ravi Prakash', cursive;
    background: #ffc600;
}

.flex-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.block {
    width: 0;
    flex: 1;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1em;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    background: #6B0F9C;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    &>* {
        margin: 0;
        width: 100%;
        transition: transform 0.5s;
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    p {
        &:first-of-type {
            transform: translateY(-100%);
        }
        &:last-of-type {
            transform: translateY(100%);
        }
        text-transform: uppercase;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72),
        0 0 14px rgba(0, 0, 0, 0.45);
        font-size: 1em;
        &:nth-child(2) {
            font-size: 2em;
        }
    }
}

.block__active {
    font-size: 3rem;
    flex: 5;
    p {
        &:first-of-type {
            transform: translateY(0);
        }
        &:last-of-type {
            transform: translateY(0);
        }
    }
}

.block__box1 {
    background-image: url(../images/mount-everest.jpg);
}

.block__box2 {
    background-image: url(../images/K2.jpg);
}

.block__box3 {
    background-image: url(../images/Kangchenjunga.JPG);
}

.block__box4 {
    background-image: url(../images/Lhotse.jpg);
}

.block__box5 {
    background-image: url(../images/makalu.jpg);
}